.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mover {
	background: linear-gradient(
		rgb(178, 223, 152) 0%,
		rgb(141, 199, 155) 70%
	);
	height: 10px;
	width: 80px;
	border-radius: 10px;
	position: relative;
	animation: mover5 2s ease-in-out infinite;
}

.mover::before,
.mover::after {
	content: "";
	position: absolute;
	height: 10px;
	border-radius: 10px;
	left: 20px;
	animation: mover5 2s ease-in-out infinite;
}

.mover::before {
	background: linear-gradient(
		rgb(147, 231, 97) 0%,
		rgba(109, 237, 141, 1) 70%
	);
	top: 20px;
	width: 50px;
}

.mover::after {
	background: linear-gradient(rgb(130, 228, 73) 0%, rgb(88, 235, 124) 70%);
	top: -20px;
	width: 60px;
}

@keyframes mover5 {
	0% {
		transform: translateX(30px) scale(1);
	}

	50% {
		transform: translateX(-30px) scale(1.1);
	}

	100% {
		transform: translateX(30px) scale(1);
	}
}
